[init]
	defaultBranch = main
[user]
	name = Takashicc
	email = 105186894+Takashicc@users.noreply.github.com
[alias]
	st = status
	ps = push
	cm = commit
	sw = !git branch | fzf | xargs git switch
	ch = checkout
	br = branch
	brd = !git branch | fzf -m | xargs -I {} git branch -d '{}'
	df = diff
	pu = pull
	l = log
	gl = log --graph --oneline --decorate=full -20 --date=short --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\"
[pull]
	ff = only
[core]
	longpaths = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[ghq]
	root = ~/Desktop/ghq
